{% extends 'base.html' %}
{% block content %}
<section>
    <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical">
        {% for i in lists %}
         <article class="tile is-child notification is-primary">
            <a href="https://www.youtube.com/watch?v={{i.3}}">
               <img src="{{i.4}}" alt="">
            </a>
            <a href="https://www.youtube.com/channel/{{i.1}}">
                <p class="subtitle">{{i.0}}</p>
            </a>
            <p class="subtitle">{{i.2}}</p>
            {% if i.5 == '配信中' %}
            <p class="subtitle">配信中</p>
            {% else %}
            <p class="subtitle">開始時刻:{{i.5}}</p>
            {% endif %}
        </article>
        {% endfor %}
        </div>
    </div>
</section>
  {% endblock %}
  