{% extends 'base.html' %}
{% block content %}
<section>
    <div class="tile is-ancestor">
        <div class="tile is-parent is-vertical">
        {% for i in lists %}
         <article class="tile is-child notification is-primary">
            <a href="https://www.youtube.com/watch?v={{i.0}}">
               <img src="{{i.1}}" alt="">
            </a>
            <a href="https://www.youtube.com/channel/{{i.2}}">
                <p class="subtitle">{{i.3}}</p>
                <p class="subtitle">開始時刻{{i.4}}</p>
            </a>
        </article>
        {% endfor %}
        </div>
    </div>
</section>
  {% endblock %}
